.continut
{
    width: 10%;
    position:absolute;
    top: 32%;
    transform: translateY(-50%);
   
    color:white;
}

.btn
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span
{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.btn:hover span
{
    width:100%;
}

.btn:hover
{
    border: none;
}

.modal-header
 {
     padding:9px 15px;
     
     background-color:cadetblue;
 }
 .modal-header .close{margin-top:2px}
 .modal-header h3{margin:0;line-height:30px}
 .modal-body
 {
     background-color: cadet;
 }