.content
{
    width: 30%;
    position:absolute;
    margin-left: 500px;
    top: 40%;
    transform: translateY(-50%);
    color: #fff;
    justify-content: center;
    margin-left: 600px;
}
.btn
{
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    width: 150px;
    margin-top: 20px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    transition: 0.5s;
    box-shadow: 0 0 50px #00d2ff;
    background-size: 200% auto;
}

 .btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.modal-header{
    background-image: linear-gradient(to right,#4568DC   30%, #00d2ff  100%);
    
}

.modal-body{
   
    background: linear-gradient(to right, #00d2ff   51%, #4568DC  90%);
}

