.content
{
    width: 30%;
    position:absolute;
    margin-left: 500px;
    top: 40%;
    transform: translateY(-50%);
    color: #fff;
    justify-content: center;
}

.btn
{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #ff005e;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span
{
    background: linear-gradient(235deg,#fbff00,#ff005e 90%);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.btn:hover span
{
    width:100%;
}

.btn:hover
{
    border: none;
}

.modal-header{
    background-image: linear-gradient( 135deg,#F8D800 30%,#FDEB71 10%);
    
}

.modal-body{
   
    background-color: #FDEB71;
}

