@import url('https://fonts.googleapis.com/css2?family=Bad+Script');

*{
    margin: 0;
    padding: 0;
}


.content{
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #40E0D0, #DFFF00);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    z-index: -1;
}

.menu{
    padding-top: 40px;
    text-align: end;
    justify-content: space-between;
    position: relative;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo
{
    width: 120px;
    cursor: pointer;
}

ul li
{
    margin-left: auto;
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    right:50px;
    position: relative;
}

ul li a
{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #ff005e;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
ul li:hover::after
{
    width: 100%;
}

