*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content{
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px 0;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(235deg,#ff005e, #010615, #fbff00);
}

.logo
{
    width: 120px;
    cursor: pointer;
}

ul li
{
    margin-left: auto;
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}

ul li a
{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    
}

ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #ff005e;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
ul li:hover::after
{
    width: 100%;
}