
.content
{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
   
}

.content h1
{
    font-size: 70px;
    margin-top: 80px;
}

.content p
{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button
{
    background-image: linear-gradient(to right, #4568DC 0%, #B06AB3  51%, #4568DC  100%);
    width: 220px;
    margin-top: 20px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    transition: 0.5s;
    box-shadow: 0 0 40px #B06AB3;
    background-size: 200% auto;
}

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }




 
