
<body>
    <div class="content">
        <a href="https://github.com/stefanbulintis/PS1B.git" img src="assets/gilogo.png" alt="github logo"></a>
        <h1 contentedotable="true">Proiect sincretic</h1>
        <p><b>Se dă un număr natural N. <br>
            Se cere să se scrie un program care <br>
             descompune numărul N în factori primi.</b></p>
        <button id="button" routerLink="/prime_factorization" type="button" class="btn">
        Descompunere <span></span>
        </button>
        
    </div>
    
</body>