
.content
{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
   
}

.content h1
{
    font-size: 70px;
    margin-top: 80px;
    position:relative;
    letter-spacing:15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline:none;
    animation: animate 5s linear infinite;
}

.content p
{
    position:relative;
    letter-spacing:5px;
    color: #0e3742;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline:none;
    animation: animate 5s linear infinite;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-top: 70px;
    font-size: 20px;
}

@keyframes animate{
    100%, 0%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
                    0 0 20px #03bcf4,
                    0 0 40px #03bcf4,
                    0 0 80px #03bcf4,
                    0 0 160px #03bcf4;
        
    }
}



button
{
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    width: 220px;
    margin-top: 50px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    transition: 0.5s;
    box-shadow: 0 0 40px #03bcf4;
    background-size: 200% auto;
    animation: animate 5s linear infinite;
}

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

a {
    width:100px;
    height:70px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-left: 900px;
 }


 



 
